@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100%;
  overflow-x: hidden;
}


@font-face {
  font-family: 'nasalization';
  src: url('../../public/fonts/NASALIZATION-RG.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'steelfish';
  src: url('../../public/fonts/steelfish bd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zuka';
  src: url('../../public/fonts/Zuka Doodle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




/* BannerImg Start  */
.HomeBg{
  background-image: url('../../public/images/bannerBg.png')  ;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: auto;
}

@media (min-width : 1280px) {
  .HomeBg{
    background-image: url('../../public/images/bannerBg.png')  ;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100%;
  } 
}


/* BannerImg End */